<%- include("templates/header") %>
    <h1>Log In</h1><br>
    <form action='/#' method='post'>
        <input name='email' type='text' placeholder='email' required><br>
        <input name='password' type='password' placeholder='password' required><br>
        <input type="checkbox">
        <label>
            Remember me
        </label>
        <a href "/#"> forgot password</a><br>
    <button>Submit</button>
    </form>
<%- include("templates/footer") %>
