<%- include("templates/header") %>
<div class="max-w-3xl mx-auto bg-white p-8">
    <h2 class="text-xl mb-6">Change Password</h2>

    <% if (error) { %>
        <p>
            <% if (error === 1) { %>
                Current password is incorrect.
            <% } else if (error === 2) { %>
                New passwords do not match.
            <% } %>
        </p>
    <% } %>
    
    <form action="/changing_password" method="post" class="space-y-6">
        <div>
            <label for="current_password">Current password</label>
            <input name="current_password" type="password" id="current_password" class="w-full p-2 rounded-md border">
        </div>
        
        <div>
            <label for="new_password">New password</label>
            <input name="new_password" type="password" id="new_password" class="w-full p-2 rounded-md border">
        </div>
        
        <div>
            <label for="confirm_password">Confirm password</label>
            <input name="confirm_password" type="password" id="confirm_password" class="w-full p-2 rounded-md border">
        </div>
        
        <div class="flex justify-evenly">
            <button type="submit">Save</button>
            <a href="javascript:history.back()">Cancel</a>
        </div>
    </form>
</div>
<%- include("templates/navbar") %>