<%- include("templates/default_header") %>
    <div class="flex items-center justify-center h-screen">
        <div class="w-full max-w-md p-8 bg-white shadow-md rounded-md">
            <h1 class="text-2xl font-semibold mb-6 text-center">Reset your password via email</h1>
            <% if (userNotFound) { %>
                <p class="text-red-500 mb-4 text-center">Invalid email</p>
                <% } %>
                    <form action="/reset_password" method="post" class="space-y-6">
                        <div>
                            <input id="email" name="email" type="email" placeholder="Email"
                                class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
                                required>
                        </div>
                        <div class="flex justify-between items-center">
                            <button disabled id="nextButton" type="submit"
                                class="px-4 py-2 bg-light-coral text-white rounded-md hover:bg-light-coral-700 disabled:opacity-50">Next</button>
                            <a href="login" class="text-argentinian-blue hover:underline">Cancel</a>
                        </div>
                    </form>
        </div>
    </div>
    <script>
        const emailInput = document.getElementById('email');
        const nextButton = document.getElementById('nextButton');
        emailInput.addEventListener('input', () => {
            nextButton.disabled = !emailInput.value.trim();
        });
    </script>
    <%- include("templates/default_footer") %>