<%- include("templates/default") %>
    <ul class="nav nav-tabs flex justify-center space-x-4 py-2">
        <li class="nav-item">
            <a class="nav-link text-gray-700 hover:text-blue-500" aria-current="page" href="/friends">Friends</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-gray-700 hover:text-blue-500" href="/groups">Groups</a>
        </li>
    </ul>
    <div class="mb-4">
        <input type="text" placeholder="Search..."
            class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
    </div>
    <div class="groups">
        <p>Groups List Displays Here</p>
        <button id="openModal">Study Group 1</button>
        <div class="modal" id="modal">
            <div class="groupMembers">Daniel, Leo, Ziqi, Alvin, Stella</div>
            <button id="closeModal">Close</button>
        </div>
    </div>
    <div>Create group button and function here</div>
    <button id="open_adding">+</button>
    <div class="add_popup" id="add_popup">
        <div>
            <form id="form">
                <input name='username' id='username' type='text' placeholder='Group Name'>
                <button type="button" onclick="return addFriend()">Create Group</button>
            </form>
        </div>
        <button id="close_adding">Close</button>
    </div>

    <!-- This is the template for popup when veiwing user profile -->
    <template>
        <div></div>
    </template>

    <script>
        const openButton = document.getElementById("openModal");
        const closeButton = document.getElementById("closeModal");
        const modal = document.getElementById("modal");
        const openAdd = document.getElementById("open_adding");
        const closeAdd = document.getElementById("close_adding");
        const Add = document.getElementById("add_popup");

        openButton.addEventListener("click", () => {
            modal.classList.add("open");
        });

        closeButton.addEventListener("click", () => {
            modal.classList.remove("open");
        });

        openAdd.addEventListener("click", () => {
            Add.classList.add("open");
        });

        closeAdd.addEventListener("click", () => {
            Add.classList.remove("open");
        });


    </script>
    <%- include("templates/navbar") %>