<%- include("templates/default_header") %>

<div class="flex items-center justify-center h-screen">
    <%= error %> <br>
<a href='/login'>Try again</a>
</div>
<%- include("templates/default_footer") %>