<%- include("templates/header") %>
<a href="/home_page" class="absolute top-5 left-5 bg-light-coral text-white px-3 py-2 rounded-lg hover:bg-light-coral-700">
    Back
</a>

<div class="flex flex-col items-center justify-center h-screen">
    <div class="max-w-md w-full bg-white shadow-md rounded-lg p-6">
        <h1 class="text-2xl font-bold text-center mb-6">Pet Shop</h1>
        <div class="flex flex-col space-y-4">
          <a href="/buy_cosmetics" class="bg-argentinian-blue text-white text-center py-3 rounded-lg">
            Cosmetics
          </a>
          <a href="/buy_pets" class="bg-celadon text-white text-center py-3 rounded-lg">
            Pets
          </a>
          <a href="/buy_dlcs" class="bg-light-coral text-white text-center py-3 rounded-lg">
            DLCs
          </a>
        </div>
      </div>
</div>
<%- include("templates/navbar") %>
