<%- include("templates/default") %>
<p>Create User:</p>
<form action="/signupSubmit" method="post">
  <input name="username" type="text" placeholder="username" />
  <input name="email" type="text" placeholder="email" />
  <input name="password" type="password" placeholder="password" />
  <input name="displayname" type="text" placeholder="displayname" />
  <button>Submit</button>
</form>
<%- include("templates/navbar") %>
