* {
    margin: 0;
    padding: 0;
}

footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
}

.navbar ul {
    position: relative;
    display: flex;
}

.navbar ul li{
    position: relative;
    list-style: none;
    z-index: 1;
}

.navbar ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 10vw;
    padding-right:10vw;
}

.friend_profile {
    background-color: grey !important; 
    opacity: 0 !important;
    position: fixed !important;
    width: 90% !important;
    height: 90% !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out !important;
    opacity: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    z-index: -1 !important;
}

.friend_profile.open {
    opacity: 1 !important;
    z-index: 999 !important;
}

.profile {
    width: 50vw;
}

.add_popup {
    background-color: grey !important; 
    opacity: 0 !important;
    position: fixed !important;
    width: 90% !important;
    height: 90% !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out !important;
    opacity: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    z-index: -1 !important;
}

.add_popup.open {
    opacity: 1 !important;
    z-index: 999 !important;
}
