@font-face {
    font-family: 'Pixelify Sans';
    src: url('/fonts/PixelifySans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Pixelify Sans', sans-serif !important;
}
/* footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
}

.navbar ul {
    position: relative;
    display: flex;
}

.navbar ul li{
    position: relative;
    list-style: none;
    z-index: 1;
}

.navbar ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 10vw;
    padding-right:10vw;
} */

/* .friend_profile {
    background-color: grey !important; 
    opacity: 0 !important;
    position: fixed !important;
    width: 90% !important;
    height: 90% !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out !important;
    opacity: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    z-index: -1 !important;
}

.friend_profile.open {
    opacity: 1 !important;
    z-index: 999 !important;
}

.profile {
    width: 50vw;
} */

/* .add_popup {
    background-color: grey !important; 
    opacity: 0 !important;
    position: fixed !important;
    width: 90% !important;
    height: 90% !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out !important;
    opacity: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    z-index: -1 !important;
}

.add_popup.open {
    opacity: 1 !important;
    z-index: 999 !important;
}  */

@keyframes idle {
    from {
        background-position: 0 -160px; /* Start at the beginning of the first row */
    }
    to {
        background-position: -1280px -160px; /* End at the last frame of the first row */
    }
}

@keyframes run_fox {
    from {
        background-position: 0 -480px;
    } to {
        background-position: -1280px -460px;
    }
}

@keyframes run_bunny {
    from {
        background-position: 0 -480px;
    } to {
        background-position: -1600px -460px;
    }
}

@keyframes run_corgi {
    from {
        background-position: 0 -480px;
    } to {
        background-position: -1600px -460px;
    }
}

.animate-run-fox {
    animation: run_fox 1s steps(4) infinite;
}

.animate-run-bunny {
    animation: run_bunny 1s steps(5) infinite;
}

.animate-run-corgi {
    animation: run_corgi 1s steps(5) infinite;
}

.animate-idle {
    animation: idle 1s steps(4) infinite;
}

.pet {
    z-index: 20;
    position:absolute;
    bottom: -12px;
    transform: scale(0.3);
}

.pet-inv {
    background-image: url('../sprite_sheets/fox.png');
}

/** 
This section is the css for the navbar 
*/
.tippy-box[data-theme~='celadon'] {
    background-color: #F3CAC9;
    color: #717171;
    border-radius: 12px;
    padding: 8px;
}
.tippy-box[data-theme~='celadon'] .tippy-arrow {
    color: #F3CAC9;
}

@media (max-width: 640px) {
    .navbar-container {
        bottom: 0 !important;
        left: 0 !important;
        width: 80% !important;
        transform: none !important;
    }
    .navbar-inner {
        width: 100% !important;
        border-radius: 1.5rem !important; /* Maintain rounded shape */
    }
    .navbar-icons {
        width: 2rem !important;
        height: 2rem !important;
    }
}
/**
End of the section
*/

.static-background-home {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 250%;
    height: 100%;
    background-repeat: repeat-x;
    background-image: url('/animation_background/Nature/origbig.png');
    background-size: contain;
    overflow: hidden;
}

/**
    This section is the css for animation on the timer page (study_session.ejs)
*/
@keyframes parallaxScroll {
    0% { transform: translateX(0);}
    100% { transform: translateX(-50%);}
}

.parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain;
    background-repeat: repeat-x;
    width: 300%;
    height: 100%;
    animation: parallaxScroll linear infinite;
}

.layer1 {
    background-image: url('/animation_background/Nature/1.png');
    animation-duration: 85s;
    z-index: 1;
}

.layer2 {
    background-image: url('/animation_background/Nature/2.png');
    animation-duration: 80s;
    z-index: 2;
}

.layer3 {
    background-image: url('/animation_background/Nature/3.png');
    z-index: 3;
    animation-duration: 60s;
}

.layer4 {
    background-image: url('/animation_background/Nature/4.png');
    z-index: 4;
    animation-duration: 50s;
}
.layer5 {
    background-image: url('/animation_background/Nature/5.png');
    z-index: 5;
    animation-duration: 65s;
}

/* .layer6 {
    background-image: url('/animation_background/Forest/Layer_0006_4.png');
    animation-duration: 60s;
    z-index: 6;
}

.layer7 {
    background-image: url('/animation_background/Forest/Layer_0005_5.png');
    z-index: 7;
    animation-duration: 55s;
}

.layer8 {
    background-image: url('/animation_background/Forest/Layer_0004_Lights.png');
    z-index: 8;
    animation-duration: 50s;
}
.layer9 {
    background-image: url('/animation_background/Forest/Layer_0003_6.png');
    animation-duration: 45s;
    z-index: 9;
}

.layer10 {
    background-image: url('/animation_background/Forest/Layer_0002_7.png');
    z-index: 10;
    animation-duration: 40s;
}

.layer11 {
    background-image: url('/animation_background/Forest/Layer_0001_8.png');
    z-index: 11;
    animation-duration: 35s;
}
.layer12 {
    background-image: url('/animation_background/Forest/Layer_0000_9.png');
    z-index: 12;
    animation-duration: 30s;
} */

/* .animal {
    z-index: 15;
    background-image: url('/sprite_sheets/MiniBear.png');
    background-repeat: no-repeat;

    transform: scale(0.3);
} */
/**
    The End of the section
*/



/*
Extra added for groups.ejs
*/

/*
    Css for the grid of studying history on profile page
*/
.calendar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding-bottom: 1rem;
    justify-content: center;
    overflow-x: scroll;
}
.day-box {
    width: 60px;
    height: 60px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
}
.low {
    /* background-color: lightgreen; */
    background-color: #F6E619;
}
.medium {
    /* background-color: greenyellow; */
    background-color: #B0CA0F;
    
}
.high {
    /* background-color: green; */
    background-color: #69B42D;
}

.calendar-container {
    flex-grow: 1;
}

@media (max-width: 500px) {
    .study-calendar {
        padding: 0 !important; 
        margin: 1rem !important;
    }

    .year-select-container {
        display: flex;
        justify-content: center !important;
        align-items: center;
        margin: 1rem 0;
    }
}

@media (max-width: 419px) {
    #goal-button-container {
        margin-left: 1.25rem !important;
        padding: 0 !important;
    }
}

@media (min-width: 420px) and (max-width: 600px) {
    #goal-button-container {
        margin-left: 2rem !important;
        padding: 0 !important;
    }
}

@media (min-width: 601px) and (max-width: 770px) {
    #goal-button-container {
        margin-left: 2.5rem !important;
        padding: 0 !important;

    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.50);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.hover-image img {
    transition: all 0.3s ease;
}
.hover-image-dropdown img {
    transition: all 0.3s ease;
}

#friends_container, #groups_container {
    max-height: 140px; /* Set a height limit, adjust as necessary */
    overflow-y: auto;
    padding: 1rem; /* Ensure there is enough padding for the hover outline */
}

#profile-header {
    top: 0;
    max-height: 240px;
}

@media (min-height: 670px) {
    #friends_container, #groups_container {
        max-height: 220px; /* Set a height limit, adjust as necessary */
        overflow-y: auto;
        padding: 1rem; /* Ensure there is enough padding for the hover outline */
    }
}

@media (min-height: 750px) {
    #friends_container, #groups_container {
        max-height: 300px; /* Set a height limit, adjust as necessary */
        overflow-y: auto;
        padding: 0.5rem; /* Ensure there is enough padding for the hover outline */
    }
}

@media (min-height: 850px) {
    #friends_container, #groups_container {
        max-height: 350px; /* Set a height limit, adjust as necessary */
        overflow-y: auto;
        padding: 0.5rem; /* Ensure there is enough padding for the hover outline */
    }
}

@media (min-height: 900px) {
    #friends_container, #groups_container {
        max-height: 400px; /* Set a height limit, adjust as necessary */
        overflow-y: auto;
        padding: 0.5rem; /* Ensure there is enough padding for the hover outline */
    }
}

#friends_card_container {
    max-height: calc(2 * 4rem + 4 * 1rem + 4 * 0.5rem); /* Adjust the height calculation as needed */
    overflow-y: auto;
}

#friends__card_container input:checked + label {
    background-color: #8AE3E5;
    color:#fff;
}

#friends_card_container input:checked + label span {
    color: #fff;
}

#modal-container {
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 75%;
    z-index: 9999;
}
    
#modal-content {
    max-width: 100%;
    max-height: 100%; 
    overflow-y: auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 640px) {
    #modal-container {
        width: 85%;
        height: 75%;
    }

    #modal-content {
        width: 100%;
        height: 100%;
        text-size-adjust: 80%;
    }
}

.custom-border {
    border: 2px solid #8AE3E5 !important;
}


/*
Extra added for notification popups
*/

.notification-popup {
    position: fixed;
    top: 10px; /* Adjust the distance from the top */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    max-width: 80%; /* Adjust maximum width as needed */
    background-color: #f8f9fa; /* Adjust background color as needed */
    color: #212529; /* Adjust text color as needed */
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 30px; /* Adjust border radius to make it look bubbly */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
    z-index: 1000; /* Ensure it's above other content */
}